{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
</p>

<img alt="movie poster" src="{{ movie.poster_path }}">

<form action="" method="POST">
  Choose Your Rating: 
  
  <input type="radio" name="score" id="1" value="1"> <label for="1">1</label>
  <input type="radio" name="score" id="2" value="2"> <label for="2">2</label>
  <input type="radio" name="score" id="3" value="3"> <label for="3">3</label>
  <input type="radio" name="score" id="4" value="4"> <label for="4">4</label>
  <input type="radio" name="score" id="5" value="5"> <label for="5">5</label>
  
  <input type="submit">
</form>
{% endblock %}